@import '~mdb-ui-kit/css/mdb.min.css';

.bg-header{
  background: rgb(163, 143, 253);
}

.bg-red{
  background: red;
}

.max-height{
  max-height: 500px;
}

.border1{
  border: 1px solid black;
}
.pos-item{
  cursor: pointer;
  font-weight: bold;
}
.f-screen{
  max-height: 100%;
}
.image-width{
  width: 100px;
  height: 100px;
  object-fit: cover;
}
